#PhoneOutline{
    width: 55vh;
    height: 70vh;
    background-color: black;
    border-radius: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: calc((100vh - 70vh - 10vh * 2) / 2) auto;
}

#home{
    width: 10.5vh;
    height: 10vh;
    background-color: #3b3b3b80;
    background-size: cover;
    border-radius: 50%;
    background-position-x: -25px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 0 13px 0px black;
}

#monitor{
    width: 52vh;
    height: 60vh;
    background-color: #9e9e9e80;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.box{
    width: calc(52vh - 40px);
    height: 7vh;
    background-color: #daf4ff00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}
#box{
    width: calc(52vh - 40px);
    height: 5px;
}
#last-box{
    width: calc(52vh - 40px);
    height: 6vh;
    background-color: #daf4ff75;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 11px;
}

.image-square{
    width: 7vh;
    height: 7vh;
    background-color:#9e9e9e00;
    background-size: cover;
    border-radius: 10px;
    /*background-position-x: -25px;*/
    margin: auto;
    display: inline-block;
}

.separate{
    width: calc((52vh - 40px - 28vh) / 3);
    display: inline-block;
}

#top{
    width: 10.5vh;
    height: 2vh;
    background-color: #9e9e9e80;
    background-size: cover;
    border-radius: 30px;
    background-position-x: -25px;
    margin-bottom: calc(10px);
    margin-left: auto;
    margin-right: auto;
}

.background{
    background-image: url(./images/Wall.jpg);
}

.icon-facebook{
    background-image: url(./images/f1.jpg)
}
.icon-instagram{
    background-image: url(./images/1200px-Instagram_logo_2016.svg.webp)
}
.icon-mail{
    background-image: url(./images/mail.jpg)
}
.icon-weather{
    background-image: url(./images/weather.jpg)
}
.icon-photos{
    background-image: url(./images/photos.png)
}
.icon-maps{
    background-image: url(./images/maps.png)
}
.icon-kkbox{
    background-image: url(./images/kkbox.png)
}
.icon-line{
    background-image: url(./images/line.svg.webp)
}
.icon-call{
    background-image: url(./images/call.jpg)
}
.icon-setting{
    background-image: url(./images/setting.png) 
}
.icon-messenger{
    background-image: url(./images/messenger.jpg)
}
.icon-youtube{
    background-image: url(./images/youtube-3.svg)
}
.icon-safari{
    background-image: url(./images/Safari.jpg)
}
.icon-dictionary{
    background-image: url(./images/dictionary.png)
}
.icon-notes{
    background-image: url(./images/notes.png)
}
.icon-camera{
    background-image: url(./images/camera.png)
}
.icon-calendar{
    background-image: url(./images/calendar.png)
}
.icon-clock{
    background-image: url(./images/clock.png)
}
.icon-home{
    background-image: url(./images/home.jpg)
}
.icon-messages{
    background-image: url(./images/IMessage.svg.png)
}
.icon-calculator{
    background-image: url(./images/calculator.png)
}
.icon-pages{
    background-image: url(./images/pages.png)
}
.icon-bus{
    background-image: url(./images/bus.png)
}
.icon-appstore{
    background-image: url(./images/appstore.png)
}

.link {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

.font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-small;
    color: #ffffff;
}

.red-box{
    width: 3vh;
    height: 3vh;
    background-color: #f31303;
    background-size: cover;
    border-radius: 50%;
    margin-left: auto;
}
.red-font{
    width: 100%;
    height: 100%;
    padding-top: 1px;
}
.link2{
    width: calc(100% - 3vh);
    height: calc(100% - 3vh);
    display: block;
    border-radius: 10px;
}

.font2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-small;
    color: #ffffff;
}